<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión Roles</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../../static/css/estilos.css" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" href="../../../static/css/mediaq.css" th:href="@{/css/mediaq.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <script src="https://kit.fontawesome.com/91eae316a2.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script src="/static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" href="/static/css/datatables.css" th:href="@{/css/datatables.css}">
    <script src="/static/js/datatables.min.js" th:src="@{/js/datatables.min.js}"></script>
    <link rel="icon" type="image/jpg" href="/static/img/favicon.png" th:href="@{/img/favicon.png}" />
</head>

<body>
    <header class="header inicio">
        <div class="container contenido-navegacion">
            <div class="titulo-header">
                <a href="../../index.html" th:href="@{/index}">
                    <h1>Sala</h1>
                    <h1>Corazón</h1>
                </a>
            </div>
            <div class="login-header">
                <nav class="navegacion">
                    <div th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a href="login.html" class="fs-2  " th:href="@{/login}">Inicia sesión</a>
                    </div>
                    <div class="dropdown" sec:authorize="hasRole('USER')">
                        <button href="./user/user.html" th:href="@{/user/user}" sec:authentication="principal.username"
                            class="dropdown-toggle boton-drop fs-2" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item desplegable " href="./user/user.html" th:href="@{/user/user}">Mi
                                    Cuenta</a>
                            </li>
                            <li><a class="dropdown-item desplegable" th:href="@{/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                    <div class="dropdown " sec:authorize="hasRole('ADMIN')">
                        <button href="./admin/admin.html" th:href="@{/admin}" class="dropdown-toggle boton-drop fs-2"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false"
                            th:text="${#authentication.principal.username + ' (Admin)'}"></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item desplegable " href="./admin/concierto/listadoconciertos.html"
                                    th:href="@{/concierto/listadoconciertos}">Conciertos</a></li>
                            <li><a class="dropdown-item desplegable " href="./admin/grupo/listadogrupos.html"
                                    th:href="@{/grupo/listadogrupos}">Grupos</a></li>
                            <li><a class="dropdown-item desplegable " href="./admin/usuario/listadousuarios.html"
                                    th:href="@{/usuario/listadousuarios}">Usuarios</a></li>
                            <li><a class="dropdown-item desplegable " href="./admin/rol/listadoventas.html"
                                    th:href="@{/venta/listadoventas}">Ventas</a></li>
                            <li><a class="dropdown-item desplegable " href="./admin/rol/listadoroles.html"
                                    th:href="@{/rol/listadoroles}">Roles</a>
                            </li>
                            <li><a class="dropdown-item desplegable " href="/templates/user/user.html"
                                    th:href="@{/user/user}">Vista
                                    Usuario</a>
                            </li>
                            <li><a class="dropdown-item desplegable" th:href="@{/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="alto-screen">
        <div class="contenedor-interior">
            <h1 class="text-center text-uppercase" th:text="${rol.idrol != 0} ? 'Editar Rol' : 'Nuevo Rol'">
               Nuevo Rol</h1>
            <form th:object="${rol}" th:action="@{/rol/insertar}" class="my-5 sombra d-flex flex-column"
                method="post">
                <input type="hidden" th:field="*{idrol}">

                <div class="formulario">
                    <div th:if="${mensaje}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span th:text="${mensaje}"></span>
                    </div>
     
                    <div class="mb-5">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" >
                    </div>
     
                    <input th:if="${rol.idrol != 0}" class="boton corporativo" type="submit" value="Edita Rol" />
                    <input th:unless="${rol.idrol != 0}" class="boton corporativo" type="submit" value="Nuevo Rol" />
                </div>

            </form>

            <div class=" mb-5 alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span>Venta nula</span>
            </div>
            <a class="boton corporativo text-center" href="./listadoroles.html"
                th:href="@{/rol/listadoroles}">Atrás</a>

        </div>

    </main>
<!-- FOOTER -->
<footer class="footer">
    <div class="contenido-footer row align-items-center">
        <div class="redes col-sm-12 col-md-4">
            <ul class=" text-white">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-x-twitter"></i></li>
                <li><i class="fa-brands fa-square-instagram"></i></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 titulo-footer">
            <div class=" text-center">
                <a href="./index.html" th:href="@{/index}">
                    <h1>Sala</h1>
                    <h1>Corazón</h1>
                </a>
            </div>

        </div>
        <div class="datos col-sm-12 col-md-4">
            <ul class=" text-white">
                <li>C/Felicidad, 20</li>
                <li>33205, Gijón</li>
                <li><i class="fa-brands fa-whatsapp"></i> 666 888 222</li>
                <li><i class="fa-regular fa-envelope"></i> salacorazon@info.com</li>
            </ul>
        </div>
    </div>
    <div class="last-line contenido-footer">
        <div class="copyright">
        </div>
    </div>
</footer>
<!-- FIN FOOTER -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/scriptselect.js" th:src="@{/js/scriptselect.js}"></script>
    <script src="/static/js/script.js" th:src="@{/js/script.js}"></script>
</body>

</html>