<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sala Corazón</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="/static/css/estilos.css" th:href="@{/css/estilos.css}" />
  <link rel="stylesheet" href="/static/css/mediaq.css" th:href="@{/css/mediaq.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/91eae316a2.js" crossorigin="anonymous"></script>
  <script src="/static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <link rel="stylesheet" href="/static/css/datatables.css" th:href="@{/css/datatables.css}">
  <script src="/static/js/datatables.min.js" th:src="@{/js/datatables.min.js}"></script>
  <link rel="icon" type="image/jpg" href="/static/img/favicon.png" th:href="@{/img/favicon.png}" />

</head>

<body>
  <header class="header inicio">
    <div class="container contenido-navegacion">
      <div class="titulo-header">
        <a href="../index.html" th:href="@{/index}">
          <h1>Sala</h1>
          <h1>Corazón</h1>
        </a>
      </div>
      <div class="login-header">
        <nav class="navegacion">
          <div th:if="${!#authorization.expression('isAuthenticated()')}">
            <a href="login.html" class="fs-2  " th:href="@{/login}">Inicia sesión</a>
          </div>
          <div class="dropdown" sec:authorize="hasRole('USER')">
            <button href="./user/user.html" th:href="@{/user/user}" sec:authentication="principal.username"
              class="dropdown-toggle boton-drop fs-2" type="button" data-bs-toggle="dropdown"
              aria-expanded="false"></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item desplegable " href="./user/user.html" th:href="@{/user/user}">Mi Cuenta</a>
              </li>
              <li><a class="dropdown-item desplegable" th:href="@{/logout}">Cerrar Sesión</a></li>
            </ul>
          </div>
          <div class="dropdown " sec:authorize="hasRole('ADMIN')">
            <button href="./admin/admin.html" th:href="@{/admin}" class="dropdown-toggle boton-drop fs-2" type="button"
              data-bs-toggle="dropdown" aria-expanded="false"
              th:text="${#authentication.principal.username + ' (Admin)'}"></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item desplegable " href="./admin/concierto/listadoconciertos.html"
                  th:href="@{/concierto/listadoconciertos}">Conciertos</a></li>
              <li><a class="dropdown-item desplegable " href="./admin/grupo/listadogrupos.html"
                  th:href="@{/grupo/listadogrupos}">Grupos</a></li>
              <li><a class="dropdown-item desplegable " href="./admin/usuario/listadousuarios.html"
                  th:href="@{/usuario/listadousuarios}">Usuarios</a></li>
              <li><a class="dropdown-item desplegable " href="./admin/venta/listadoventas.html"
                  th:href="@{/venta/listadoventas}">Ventas</a></li>
              <li><a class="dropdown-item desplegable " href="./admin/rol/listadoroles.html"
                  th:href="@{/rol/listadoroles}">Roles</a>
              </li>
              <li><a class="dropdown-item desplegable " href="/templates/user/user.html" th:href="@{/user/user}">Vista
                  Usuario</a>
              </li>
              <li><a class="dropdown-item desplegable" th:href="@{/logout}">Cerrar Sesión</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <main class="sombra-negra container-fluid">
    <div class="contenedor-interior alto-screen centrar ">
      <div class="row align-items-center grupo-detalle py-5">
        <div class="col-lg-5 d-flex flex-column align-items-center mb-5">
          <img src="../static/img/thepolice1.jpeg" th:src="@{${grupo.imagen}}" th:alt="${'Foto de ' + grupo.nombre}" />
        </div>
        <div class="col-lg-7">
          <div class="text-sm-center text-lg-end mt-sm-3 py-5 pe-md-3">
            <h4 th:text="${grupo.nombre}" class="text-center fw-semibold">The Police**</h4>
            <p th:text="${grupo.estilo}" class="text-center">Pop-Rock</p>
            <p th:text="${grupo.origen}" class="text-center">UK</p>
            <p th:text="${grupo.descripcion}" class="text-center mb-5">
              So lonely. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Phasellus arcu nibh, vehicula a vulputate ut, congue in
              nibh. Phasellus arcu nibh, vehicula a vulputate ut, congue in
              nibh.Phasellus arcu nibh. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Phasellus arcu nibh, vehicula a vulputate ut,
              congue in nibh. Phasellus arcu nibh, vehicula a vulputate ut,
              congue in nibh.Phasellus arcu nibh. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Phasellus arcu nibh, vehicula a
              vulputate ut, congue in nibh. Phasellus arcu nibh, vehicula a
              vulputate ut, congue in nibh.Phasellus arcu nibh
            </p>
          </div>
          <ul th:if="${noconcert}" class="tabla-interior">
            <li th:text="${noconcert}"></li>
          </ul>


          <ul class="tabla-interior" th:each="c : ${conciertos}">
            <li class="fecha">
              <p th:text="${#temporals.day(c.fecha)}"></p>
              <p th:text="${#strings.toUpperCase(#temporals.monthNameShort(c.fecha))}" class="fw-bold"></p>
              <p th:text="${#temporals.year(c.fecha)}"></p>
            </li>
            <li th:text="${c.hora}"></li>
            <li><span th:text="${c.precioanticipado}"></span>€ / <span th:text="${c.preciotaquilla}"></span>€</li>
            <li><span th:text="${c.plazas}"></span> rest.</li>
            <li>
              <a th:if="${c.fecha gt now}" th:href="@{/user/compra(idconcierto=${c.idconcierto})}"
                href="./user/forminsertar.html" class="boton compra-entradas">Compra entradas</a>
              <p th:if="${c.fecha lt now}" class="boton compra-entradas text-center">
                Este evento ha pasado
              </p>
            </li>

          </ul>


        </div>
        <div class="text-start mt-3"><a th:href="@{/index}" href="index.html" class="boton corporativo">Volver</a></div>
      </div>


    </div>



  </main>
  <!-- FOOTER -->
  <footer class="footer">
    <div class="contenido-footer row align-items-center">
      <div class="redes col-sm-12 col-md-4">
        <ul class=" text-white">
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><i class="fa-brands fa-x-twitter"></i></li>
          <li><i class="fa-brands fa-square-instagram"></i></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 titulo-footer">
        <div class=" text-center">
          <a href="./index.html" th:href="@{/index}">
            <h1>Sala</h1>
            <h1>Corazón</h1>
          </a>
        </div>

      </div>
      <div class="datos col-sm-12 col-md-4">
        <ul class=" text-white">
          <li>C/Felicidad, 20</li>
          <li>33205, Gijón</li>
          <li><i class="fa-brands fa-whatsapp"></i> 666 888 222</li>
          <li><i class="fa-regular fa-envelope"></i> salacorazon@info.com</li>
        </ul>
      </div>
    </div>
    <div class="last-line contenido-footer">
      <div class="copyright">
      </div>
    </div>
  </footer>
  <!-- FIN FOOTER -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/js/script.js" th:src="@{/js/script.js}"></script>

  <script th:if="${msgError}" th:inline="javascript">
    var mensaje = /*[[${msgError}]]*/ '';
    Swal.fire({
      icon: 'warning',
      title: '¡Atención!',
      text: mensaje,
      confirmButtonColor: "##20c997",
      width: "40rem",
    });

  </script>
</body>

</html>