<!DOCTYPE html>
<html lang="es" xmlns:th="html://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo Concierto</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{../../../css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../static/css/estilos.css" th:href="@{../../../css/estilos.css}"/>
    <link rel="stylesheet" href="../../../static/css/mediaq.css" th:href="@{../../../css/mediaq.css}"/>
    <link rel="stylesheet" href="../../../static/css/list_btn.css" th:href="@{../../../css/list_btn.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"/>
    <script src="https://kit.fontawesome.com/91eae316a2.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js" th:src="@{../../../js/jquery-3.7.1.min.js}"></script>
  </head>

  <body>
    <header>
      <div class="contenido-navegacion fondo-negro">
        <h1 class="text-center">
          <a href="#" th:href="@{/index}">Sala Corazón</a>
        </h1>
        <div class="mobile-menu">
          <img
            src="../../../static/img/barras.svg"
            th:src="@{../img/barras.svg}"
            class="barras"
            alt="icono menu responsive"
          />
        </div>
        <nav class="navegacion-admin">
          <a href="../grupo/listadogrupos.html" 
          th:href="@{/grupo/listadogrupos}">Grupos</a>
          <a href="../concierto/listadoconciertos.html"
            th:href="@{/concierto/listadoconciertos}">Conciertos</a>
          <a href="#" th:href="@{/venta/listadoventas}">Ventas</a>
          <a href="../usuario/listadousuarios.html"
            th:href="@{/usuario/listadousuarios}">Usuarios</a>
        </nav>
      </div>
    </header>
    <main class="alto-screen">
      <div class="contenedor w-xl-75">
        <h1
          class="text-center text-uppercase"
          th:text="${concierto.idconcierto != 0} ? 'Editar Concierto' : 'Nuevo Concierto'"
        >
          Nuevo Concierto
        </h1>

        <form
          class="my-5 sombra d-flex flex-column"
          th:action=" @{/concierto/insertaconcierto}"
          th:object="${concierto}"
          method="post"
        >
          <div class="formulario">
            <input type="hidden" th:field="*{idconcierto}" />
            <div class="mb-5">
              <label for="anticipado">Precio Anticipado</label>
              <input
                type="text"
                id="anticipado"
                th:field="*{precioanticipado}"
                class="form-control"
                placeholder="Precio Anticipado"
                required
                autofocus
              />
            </div>
            <div class="mb-5">
              <label for="taquilla">Precio Taquilla</label>
              <input
                type="text"
                id="taquilla"
                th:field="*{preciotaquilla}"
                class="form-control"
                placeholder="Precio Taquilla"
                required
              />
            </div>
            <div class="mb-5">
              <label for="fecha">Fecha</label>
              <input
                th:if="${concierto.idconcierto != 0}"
                type="text"
                id="fecha"
                th:field="*{fecha}"
                class="form-control"
                placeholder="Fecha"
                required
              />
              <input
                th:unless="${concierto.idconcierto != 0}"
                type="date"
                th:field="*{fecha}"
                class="form-control"
                placeholder="Fecha"
                required
              />
            </div>
            <div class="mb-5">
              <label for="estilo">Hora</label>
              <input
                type="time"
                th:field="*{hora}"
                id="hora"
                class="form-control"
                placeholder="Hora"
                required
              />
            </div>
            <div class="mb-5">
              <label for="plazas">Plazas</label>
              <input
                type="number"
                th:field="*{plazas}"
                id="plazas"
                class="form-control"
                placeholder="Plazas"
                required
              />
            </div>
            <div class="mb-5">
						  <label for="intro">Introducción</label>
						  <textarea th:field="*{intro}" id="intro" class="form-control"></textarea>
					</div>

            <div class="mb-5">
              <label for="grupo">Grupo</label>
              <select
                class="form-select fs-2"
                th:field="*{grupo}"
                title="grupo"
              >
                <option th:value="0">--- Seleccione grupo ---</option>
                <option
                  th:if="${concierto.idconcierto != 0}"
                  th:each=" g : ${grupos}"
                  th:value="${g.idgrupo}"
                  th:text="${g.nombre}"
                  th:selected="${g.idgrupo == concierto.grupo.idgrupo}"
                ></option>
                <option
                  th:unless="${concierto.idconcierto != 0}"
                  th:each=" g : ${grupos}"
                  th:value="${g.idgrupo}"
                  th:text="${g.nombre}"
                ></option>
              </select>
            </div>
            <input
              th:if="${concierto.idconcierto != 0}"
              class="boton negro"
              type="submit"
              value="Edita Concierto"
            />
            <input
              th:unless="${concierto.idconcierto != 0}"
              class="boton negro"
              type="submit"
              value="Nuevo Concierto"
            />
          </div>
        </form>
        <a
          class="boton-buscar text-center"
          href="./listadoconciertos.html"
          th:href="@{/concierto/listadoconciertos}"
          >Atrás</a
        >
      </div>
    </main>
    <footer class="footer">
      <div class="contenido-navegacion justify-content-center justify-content-lg-between">
        <a href="#">
          <h1 class="text-center">Sala Corazón</h1>
        </a>
      </div>
      <div class="contenido-footer">
        <div class="datos">
          <ul>
            <li>Datos de contacto</li>
            <li>Datos de contacto</li>
            <li>Datos de contacto</li>
          </ul>
        </div>
        <div class="datos">
          <ul>
            <li>Datos de contacto</li>
            <li>Datos de contacto</li>
            <li>Datos de contacto</li>
          </ul>
        </div>
        <div class="datos">
          <ul>
            <li>Datos de contacto</li>
            <li>Datos de contacto</li>
            <li>Datos de contacto</li>
          </ul>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="/static/js/script.js"
      th:src="@{../../../js/script.js}"
    ></script>
  </body>
</html>
