<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sala Corazón</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/static/css/estilos.css" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" href="/static/css/mediaq.css" th:href="@{/css/mediaq.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/91eae316a2.js" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" href="/static/css/datatables.css" th:href="@{/css/datatables.css}">
    <script src="/static/js/datatables.min.js" th:src="@{/js/datatables.min.js}"></script>

</head>

<body class="">

    <header class="header inicio">
        <div class="container contenido-navegacion">
            <div class="titulo-header">
                <a href="./index.html" th:href="@{/index}">
                    <h1>Sala</h1>
                    <h1>Corazón</h1>
                </a>
            </div>
            <div class="login-header">
                <nav class="navegacion">
                    <div th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a href="login.html" class="fs-2  " th:href="@{/login}">Inicia sesión</a>
                    </div>
                    <div class="dropdown" sec:authorize="hasRole('USER')">
                        <button href="./user/user.html" th:href="@{/user/user}" sec:authentication="principal.username"
                            class="dropdown-toggle boton-drop fs-2" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item desplegable " href="./user/user.html" th:href="@{/user/user}">Mi
                                    Cuenta</a>
                            </li>
                            <li><a class="dropdown-item desplegable" th:href="@{/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                    <div class="dropdown " sec:authorize="hasRole('ADMIN')">
                        <button href="./admin/admin.html" th:href="@{/admin}" class="dropdown-toggle boton-drop fs-2"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false"
                            th:text="${#authentication.principal.username + ' (Admin)'}"></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item desplegable " href="./admin/concierto/listadoconciertos.html"
                                    th:href="@{/concierto/listadoconciertos}">Conciertos</a></li>
                            <li><a class="dropdown-item desplegable " href="./admin/grupo/listadogrupos.html"
                                    th:href="@{/grupo/listadogrupos}">Grupos</a></li>
                            <li><a class="dropdown-item desplegable " href="./admin/usuario/listadousuarios.html"
                                    th:href="@{/usuario/listadousuarios}">Usuarios</a></li>
                            <li><a class="dropdown-item desplegable " href="./admin/venta/listadoventas.html"
                                    th:href="@{/venta/listadoventas}">Ventas</a></li>
                            <li><a class="dropdown-item desplegable" th:href="@{/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="contenedor-interior centrar alto-screen">
        <h1 th:text="${error}"></h1>
        <section class="container-fluid w-75 mx-auto border-1 rounded-3 bg-black text-light p-5 my-5 text-center fs-1">
            <p>Error 404</p>
            <p>Acceso no autorizado</p>
           
        </section>
        <button type="button" class="boton corporativo"><a th:href="@{/index}"
                class="text-decoration-none link-light">Volver</a></button>
    </main>
    <footer class="footer">
        <div class="contenido-navegacion justify-content-center">
            <a href="#">
                <h1 class="text-center">Sala Corazón</h1>
            </a>
        </div>
        <div class="contenido-footer">
            <div class="datos">
                <ul>
                    <li>Datos de contacto</li>
                    <li>Datos de contacto</li>
                    <li>Datos de contacto</li>
                </ul>
            </div>
            <div class="datos">
                <ul>
                    <li>Datos de contacto</li>
                    <li>Datos de contacto</li>
                    <li>Datos de contacto</li>
                </ul>
            </div>
            <div class="datos">
                <ul>
                    <li>Datos de contacto</li>
                    <li>Datos de contacto</li>
                    <li>Datos de contacto</li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/script.js" th:src="@{../../../js/script.js}"></script>

    <script th:if="${mensaje}" th:inline="javascript">
        var mensajeExito = /*[[${mensaje}]]*/'';
        Swal.fire({
            icon: 'success',
            text: mensajeExito,
            confirmButtonColor: "##20c997",
            width: "40rem",
        }).then(result => {
            if(result.isConfirmed){
                 window.location.href = "http://localhost:8080/logout";
                //window.location.href = "https://app-tickets-c6dfd5dd1620.herokuapp.com/logout";
            }
        });

    </script>
</body>

</html>