@media (min-width: 768px) {
    .header h1 {
        text-align: left;
    }

    .contenido-navegacion {
        flex-direction: row;
        justify-content: space-between;
    }

    .titulo-header {
        margin: 0;
    }

    i {
        font-size: 2rem;
    }

    .barras {
        display: none;
    }

    .barra-busqueda {
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .concierto {
        margin-bottom: 0;
    }

    .formulario-login {
        width: 40%;
    }

    .boton {
        margin-bottom: 0;
    }


    .botones {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .texto-concierto {
        right: 1.5rem;
        width: 60%;
    }

    .tabla-interior {
        flex-direction: row;
    }

    .tabla-interior li {
        margin-bottom: 0;
    }

    .redes {
        align-items: start;
        margin: 0
    }

    .titulo-footer {
        margin: 0;
    }
    .datos {
        align-items: end;
    }
    .datos ul {
        text-align: right;
    }



}

@media (min-width: 992px) {
    .iconos {
        display: block;
    }

    .fstable {
        font-size: 1.6rem;
        text-align: left;
    }

    .ticket {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: 1rem;
    }


    .columna-datos .contenido div {
        font-size: 1.5rem;
    }



    .contenido-footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .formulario {
        width: 50%;
    }

}